openapi: 3.1.0
info:
  title: 3Stone Shield API
  version: 1.0.0
  license:
    name: MIT
    identifier: MIT
  description: Automated accessibility scanning with developer-ready findings. Automated testing cannot evaluate every WCAG criterion and is not a compliance guarantee.
  contact:
    name: 3Stone AI
    email: jathan@3stoneai.com
    url: https://www.3stoneai.com/shield/api
servers:
  - url: https://shield-api.3stoneai.com
security:
  - bearerAuth: []
paths:
  /api/v1/shield/scan:
    post:
      operationId: scanAccessibility
      summary: Scan a public URL for detectable accessibility violations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url]
              properties:
                url: { type: string, format: uri, examples: [https://example.com] }
      responses:
        "200":
          description: Scan completed
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  ok: { type: boolean, const: true }
                  scanId: { type: [string, "null"], format: uuid }
                  findings: { type: array, items: { type: object, additionalProperties: true } }
                  usage: { type: object, additionalProperties: true }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { $ref: "#/components/responses/ScanFailed" }
        "429": { $ref: "#/components/responses/RateLimited" }
components:
  securitySchemes:
    bearerAuth: { type: http, scheme: bearer, bearerFormat: sk_shield }
  schemas:
    Error:
      type: object
      required: [error]
      properties: { error: { type: string } }
  responses:
    BadRequest: { description: Invalid request, content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } } }
    Unauthorized: { description: Missing or invalid API key, content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } } }
    Forbidden: { description: API key is inactive, content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } } }
    ScanFailed: { description: Target could not be scanned, content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } } }
    RateLimited: { description: Monthly call limit reached, content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } } }
